@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

.header {
    width: 100%;
    background: #ffff;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 100;
    position: relative;
    padding-bottom: 5px;
}

.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        to right,
        #7a5cff,
        #00e5ff,
        #a5ebf3
    );

}

.nav-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-right{
    display: flex;
    align-items: baseline;
}

.nav-logo {
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.nav-logo:hover {
  transform: scale(1.05);
}

.nav-text {
    transform: translate(-50%, -50%);
    animation: fadeOut 3s forwards;
    font-size: 1rem;
}

.nav-text-nickname{
    background: linear-gradient(90deg, #7a5cff, #00e5ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    animation: gradientMove 3s ease infinite;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-icon {
    color: black;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
}

.nav-icon:hover {
    color: #7a5cff;
    transform: scale(1.1);
}

.logout:hover {
    color: #ff5c5c;
}

.menu-toggle {
    background: none;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .menu-toggle {
    order: 3;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #1f1f1f;
  }

  .nav-icons {
    position: absolute;
    top: 65px;
    right: 10px;
    background: #f1f1f1;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 12px;
    display: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    z-index: 100;
  }

  .nav-icons.open {
    display: flex;
  }

  .nav-text{
    display: none;
  }
}