.login-page {
    display: flex;
    height: 100vh;
    background-color: #0f0f17;
    color: #fff;
    overflow: hidden;
      font-family: "Poppins", sans-serif;
      background-image: url("https://plus.unsplash.com/premium_photo-1752832756705-7c3a97a0a7a3?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=387");

}

.login-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.image-side {
  flex: 1;
  background: url("../assets/imagenFondo.png") center center/cover no-repeat;
  height: 100%;
}

.login-side-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}


.form-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  border-radius: 16px;
  padding: 40px;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
    opacity: 0;
  transform: translateX(50px);
  animation: formSlideIn 1s ease-out forwards;
}


@keyframes formSlideIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.login-card:hover{
      transform: translateY(-3px);
  box-shadow: 0 15px 35px rgba(122, 92, 255, 0.3);
}

.login-logo {
  width: 130px;
  margin-bottom: 1rem;
}
.form-control {
  border: 1px solid #7a5cff;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
}

#nickName, #password, #email {
  background-color: #fff !important;
  color: #121212 !important;
}

#nickName::placeholder, #password::placeholder, #email::placeholder {
  color: #121212 !important;
}


.form-control:focus {
  border-color: #7a5cff;
  box-shadow: 0 0 8px #7a5cff;
}

.btn-primary {
  background-color: #7a5cff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background-color: #6548ff;
  transform: scale(1.02);
}

a {
  color: #7a5cff;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.loadingScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffff;
    color: white;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
  }

  .image-side {
    display: none;
  }

  .form-side {
    width: 100%;
    padding: 20px;
  }

  .login-card {
    width: 100%;
    max-width: 350px;
  }
}
footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: #888;
}

