    .post-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--card-bg);
    color: var(--input-color);
    }
    
    .post-container h3 {
    color: var(--text-color);
    }

    .post-container input{
    background-color: var(--bg-color)!important;
    color: var(--input-color)!important;
    }

    .post-container input::placeholder{
    color: var(--input-color);
    }

    .text-muted{
        color: var(--input-color)!important;
    }

    .carousel-wrapper {
    width: 100%;
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    }

    .input-group {
    max-width: 700px;
    }

    .carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    main {
    padding-bottom: 100px; 

    }

    @media (max-width: 768px) {
    .carousel-wrapper {
        height: 300px;
        border-radius: 0;
    }
    }

    @media (max-width: 480px) {
    .input-group {
    max-width: 100%;
    width: 100%;
    margin: 0;
    }

    .carousel-wrapper {
            background-color: var(--bg-color);

    width: 100vw; 
    height: 400px;
    border-radius: 0; 
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw; 
    margin-right: -50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }

    .carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}